
.icon-0-hollow:before { content: '\e800'; } /* '' */
.icon-1-solid:before { content: '\e801'; } /* '' */
.icon-2-intensity-level-2:before { content: '\e802'; } /* '' */
.icon-3-intensity-level-4:before { content: '\e803'; } /* '' */
.icon-4-intensity-level-6:before { content: '\e804'; } /* '' */
.icon-5-intensity-level-8:before { content: '\e805'; } /* '' */
.icon-6-intensity-level-10:before { content: '\e806'; } /* '' */
.icon-7-intensity-level-12:before { content: '\e807'; } /* '' */
.icon-8-intensity-level-14:before { content: '\e808'; } /* '' */
.icon-9-intensity-level-16:before { content: '\e809'; } /* '' */
.icon-10-narrow-spaced-45-deg:before { content: '\e80a'; } /* '' */
.icon-11-medium-spaced-thick-45-deg:before { content: '\e80b'; } /* '' */
.icon-12-medium-45-deg:before { content: '\e80c'; } /* '' */
.icon-13-medium-spaced-vertical:before { content: '\e80d'; } /* '' */
.icon-14-medium-spaced-horizontal:before { content: '\e80e'; } /* '' */
.icon-15-medium-spaced-cross:before { content: '\e80f'; } /* '' */
.icon-16-brick:before { content: '\e810'; } /* '' */
.icon-17-diagonal-bricks:before { content: '\e811'; } /* '' */
.icon-18-grass:before { content: '\e812'; } /* '' */
.icon-19-trees:before { content: '\e813'; } /* '' */
.icon-20-dashed-x:before { content: '\e814'; } /* '' */
.icon-21-cobble-stones:before { content: '\e815'; } /* '' */
.icon-22-sand:before { content: '\e816'; } /* '' */
.icon-23-rough-weave:before { content: '\e817'; } /* '' */
.icon-24-quilt:before { content: '\e818'; } /* '' */
.icon-25-patterned-cross:before { content: '\e819'; } /* '' */
.icon-26-balls:before { content: '\e81a'; } /* '' */
.icon-27-vertical-scales:before { content: '\e81b'; } /* '' */
.icon-28-diagonal-scales:before { content: '\e81c'; } /* '' */
.icon-29-checker-board:before { content: '\e81d'; } /* '' */
.icon-30-filled-diamond:before { content: '\e81e'; } /* '' */
.icon-31-herringbone:before { content: '\e81f'; } /* '' */
.icon-32-wide-+45-deg:before { content: '\e820'; } /* '' */
.icon-33-widely-spaced-thick-45-deg:before { content: '\e821'; } /* '' */
.icon-34-widely-+--45-deg:before { content: '\e822'; } /* '' */
.icon-35-widely-spaced-vertical:before { content: '\e823'; } /* '' */
.icon-36-widely-spaced-horizontal:before { content: '\e824'; } /* '' */
.icon-37-widely-spaced-horizontal_vert-cross:before { content: '\e825'; } /* '' */
